# ? Сюда вписываете пути которые не будут отправляться в репозиторий
# Например базы данных и тд.
venv
.vs/
.vscode/
**/.env
**/*.log
**/*.sql
**/*.db
**/*.sqlite3
**/*.sqlite
**/*.sqlite*
**/__pycache__/